html {
  background-color: #f2f1ed;
  font-family: Georgia, serif;
}

img {
  width: 100%;
}

h2 {
  color: #5d8432;
  text-transform: uppercase;
  font-family: Patua One, cursive;
}

figcaption {
  font-size: smaller;
  font-style: italic;
  text-align: center;
}

nav a {
  color: #793284;
  font-family: Patua One, cursive;
}

nav a:hover {
  color: #b42885;
}

#hadrosaur {
  font-size: larger;
}
